---
const pageTitle = "About Me";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor}}>
			h1 {
			  color: blue;
			  font-size: 3rem;
			}
			.skill {
				background-color: brown;
				color: var(--skillColor);
				font-size: medium;
			}
		  </style>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<a href="/">Home</a>
		<a href="/blog/">Blog</a>
		<h1> FirstName: {identity.firstName}</h1>
		<h1> Country: {identity.country}</h1>
		<h1>My Hovies: {identity.hobbies[2]}</h1>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
  

		{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

	</body>
</html>
